<div class="header">
    <ul class="nav nav-pills pull-right">
        <!--<li class="active"><a ng-href="#">Home</a></li>-->
        <!--<li><a ng-href="#">About</a></li>-->
        <!--<li><a ng-href="#">Contact</a></li>-->
    </ul>
    <h3 class="text-muted">Inventory Firend</h3>
</div>

<div class="jumbotron">
    <!--<h2>AngularFire Test</h2>-->
    {{userInfo.displayName}}
    <ul>
        <li>
            <h2>As GM</h2>
        </li>
        <li ng-repeat="game in userInfo.gm">
            {{ game.gameid }}
        </li>
        <li>
            <h2>As player</h2>
        </li>
        <li ng-repeat="game in userInfo.player">
            {{ game.gameid }}
        </li>
    </ul>
    <!--<!-- push a new message onto the array -->
    <!--<input ng-model="newMessageText"/>-->
    <!--<button ng-click="addMessage(newMessageText)">Add Message</button>-->
    <!--</body>-->
</div>


<div class="footer">

</div>
